 body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f9f9f9c3;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      max-width: 950px;
      margin: 20px auto;
      padding: 15px;
      background-color: #ffffff98;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    form input, form textarea, form select {
      width: 96%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
    }
    form button {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 4px;
      background-color: #1d57f8;
      color: #ffffff98;
      border: none;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s;
    }
    form button:hover {
      background-color: #6b93ff;
    }

    #search {
      max-width: 600px;
      margin: 20px auto;
      display: flex;
      gap: 10px;
    }

    #search input, #search select {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    #recipe-list {
      max-width: 600px;
      margin: 20px auto;
    }

    .card {
      background-color: #ffffff98;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .card h4 {
      margin: 0 0 5px;
      color: #333;
    }
    .card p {
      margin: 5px 0;
    }

    .card button {
      margin-top: 8px;
      padding: 6px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: #ffffff98;
      background-color: #6b93ff;
      margin-right: 5px;
    }

    .card button:hover {
      background-color: #1d57f8;
    }
    .card button:nth-child(2) {
      background-color: #6b93ff;
    }
    .card button:nth-child(2):hover {
      background-color: #1d57f8;
    }